.student-dahsboard-profile-edit,
.student-dahsboard-profile-edit * {
  box-sizing: border-box;
}

/* .container {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
} */

.student-dashboard-profile-edit {
  align-items: center;
  justify-content: center;
  min-height: 110vh;
  background: #f5f5f5;
  width: 100%;
  height: 100%;
position: absolute;
  overflow: hidden;
  top: 0;
  right: 400px;
  left: 0;
  /* border: 1px solid red; */
}

.frame-8959 {
  background: var(--white, #ffffff);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 107px;
  bottom: 603px;
}
.edit-profile {
  color: var(--main-text, #101828);
  text-align: left;
  font: var(--button-normal-14, 400 14px/20px 'Inter', sans-serif);
  position: relative;
}
.change-password {
  color: var(--purple-600, #6938ef);
  text-align: left;
  font: var(--button-normal-14, 400 14px/20px 'Inter', sans-serif);
  position: relative;
 
}
.frame-16251 {
  border-radius: 16px;
  width: 880px;
  height: 61px;
  position: relative;
  display: flex;
  left: 124px;
  top: 44px;
  overflow: hidden;
}
.frame-8923 {
  width: 880px;
  height: 61px;
  /* position: absolute; */
  display: flex;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.rectangle-307 {
  background: linear-gradient(to left, #176c47, #33056b, #9700eb);
  background-image: url(/src/assets/Rectangle\ 307.png);
  border-radius: 16px;
  width: 880px;
  height: 151px;
 position: relative;
}
.account {
  color: var(--white, #ffffff);
  text-align: left;
  font: var(--headline-bold-32, 700 32px/140% 'Inter', sans-serif);
  position: absolute;
  left: 388px;
  top: 8px;
}
.divider {
  background: var(--grey-300, #d0d5dd);
  width: 642px;
  height: 1px;
  position: absolute;
  left: 340px;
  top: 200px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.frame-8958 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 400px;
  top: 184px;
  
}
.frame-8956 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.change-password2 {
  color: var(--main-text, #101828);
  text-align: left;
  font: var(--headline-semi-bold-24, 600 24px/140% 'Inter', sans-serif);
  position: relative;
  text-align: center;
}
.frame-8957 {
  background: var(--white, #ffffff);
  border-style: solid;
  border-color: var(--grey-300, #d0d5dd);
  border-width: 1px;
  padding: 32px 40px 32px 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;

  left: 100px;

}
.frame-8955 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-8857 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text {
  color: var(--main-text, #101828);
  text-align: left;
  font: var(--button-normal-14, 400 14px/20px 'Inter', sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-default {
  border: 1px solid grey;
  background: var(--white, #ffffff);
  border-radius: 6px;
  border-style: solid;
  border-color: var(--grey-300, #d0d5dd);
  border-width: 1px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 398px;
  position: relative;
  overflow: hidden;
}
.button-default:focus {
  border: 1px solid grey;
}
.text2 {
  color: var(--grey-400, #98a2b3);
  text-align: left;
  font: var(--button-normal-14, 400 14px/20px 'Inter', sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-8860 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-8861 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button-default2 {
  background: var(--purple-600, #6938ef);
  border-radius: 6px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 398px;
  position: relative;
  overflow: hidden;
}
.text3 {
  background: var(--purple-600, #6938ef);
  border-style: solid;
  border-color: #6938ef;
  color: var(--white, #ffffff);
  text-align: left;
  font: var(--button-semi-bold-14, 600 14px/20px 'Inter', sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-16250 {
  background: var(--white, #ffffff);
  padding: 24px 106px 24px 106px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  width: 1173px;
  position: sticky;
  left: 270px;
  top: 0px;
}
.avatar-default {
  border-radius: 200px;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.frame-8344 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.hi-somto-a {
  color: #012a4a;
  text-align: center;
  font: var(--headline-medium-24, 500 24px/140% 'Inter', sans-serif);
  position: relative;
}
.nav-bar {
  width: 267px;
  height: 1024px;
  position: sticky;
  left: 1px;
  top: 0px;
  overflow: hidden;
}
.rectangle-216 {
  background: #ffffff;
  width: 267px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-16488 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 44px;
  top: 99px;
}
.text4 {
  color: var(--grey-400, #98a2b3);
  text-align: left;
  font: var(--body-text-normal-16, 400 16px/140% 'Inter', sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-16594 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 44px;
  top: 372px;
}
.frame-16489 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text5 {
  color: var(--indigo-700, #3538cd);
  text-align: left;
  font: var(--body-text-normal-16, 400 16px/140% 'Inter', sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-16450 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 914px;
}
.line-34 {
  border-style: solid;
  border-color: #dadada;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 267px;
  height: 0px;
  position: relative;
}
.frame-16246 {
  background: var(--purple-25, #fafaff);
  padding: 8px 24px 8px 48px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 267px;
  position: relative;
}
.frame-16383 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-logout {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.logout {
  color: var(--purple-700, #5925dc);
  text-align: left;
  font: var(--body-text-normal-16, 400 16px/140% 'Inter', sans-serif);
  position: relative;
}
.frame-16452 {
  width: 95px;
  height: 45px;
  position: absolute;
  left: 38px;
  top: 24px;
}
.adire {
  color: var(--purple-700, #5925dc);
  text-align: left;
  font: var(--headline-bold-32, 700 32px/140% 'Inter', sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.ellipse-1 {
  background: var(--warning-500, #f79009);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 87px;
  top: 26px;
}
.divider2 {
  background: var(--grey-300, #d0d5dd);
  width: 267px;
  height: 1px;
  position: absolute;
  left: 0px;
  top: 339px;
}
.frame-16623 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 44px;
  top: 153px;
}
.frame-16453 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-dashboard {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.text6 {
  color: var(--main-text, #101828);
  text-align: left;
  font: var(--body-text-normal-16, 400 16px/140% 'Inter', sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-16486 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.poll-people {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-16511 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.square-poll-horizontal {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.orders {
  color: var(--main-text, #101828);
  text-align: left;
  font: var(--body-text-normal-16, 400 16px/140% 'Inter', sans-serif);
  position: relative;
}
