.success-modal,
.success-modal * {
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.success-modal {
  background: var(--white, #ffffff);
  border-radius: 24px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 460px;
  height: 350px;
  left: 400px;
  top: 30%;
  z-index: 1;
}
.frame-8405 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.success {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-8404 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.successful {
  color: #21334f;
  text-align: left;
  font: var(--headline-bold-24, 700 24px/140% "Inter", sans-serif);
  position: relative;
}
.frame-8345 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-8344 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.your-password-has-been-changed-successfully-login-to-access-your-account {
  color: var(--main-text, #101828);
  text-align: center;
  font: var(--button-normal-14, 400 14px/20px "Inter", sans-serif);
  position: relative;
  width: 345px;
}
.button-default {
  background: var(--purple-700, #5925dc);
  border-radius: 6px;
  padding: 12px 16px ;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 320px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button-default2 {
  background: var(--grey-100, #f2f4f7);
  border-radius: 6px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 383px;
  position: relative;
  overflow: hidden;
}
.text {
  color: var(--white, #ffffff);
  text-align: left;
  font: var(--body-text-bold-16, 600 15px/140% "Inter", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text2 {
  color: var(--main-text, #101828);
  text-align: left;
  font: var(--button-normal-14, 400 14px/20px "Inter", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

