.container {
  background: var(--grey-100, #f2f4f7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgotpassword {
  background: var(--white, #ffffff);
  border-radius: 20px;
  max-width: 450px;
  padding: 45px;
  margin-top: 0px;
}

.header {
  display: flex;
  color: #012a4a;
  justify-content: center;
  margin-bottom: 40px;
  font:
    700 24px/24px 'Inter',
    sans-serif;
}

.paragraph1 {
  color: var(--main-text, #101828);
  font: var(--button-normal-14, 400 14px/20px 'Inter', sans-serif);
  margin-bottom: 20px;
}

.paragraph2 {
  color: #012a4a;
  font: var(--button-normal-14, 400 16px/22px 'Inter', sans-serif);
  margin-bottom: 7.5px;
}

.paragraph3 {
  color: white;
  font: var(--body-text-bold-16, 600 16px/140% 'Inter', sans-serif);
}

.emailcontainer {
  display: flex;
  border: 1px solid var(--Grey-400, #98a2b3);
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 30px;
}

.emailinput {
  width: 100%;
  padding-left: 10px;
}

.login {
  display: flex;
  justify-content: center;
  font:
    500 16px/16px 'Inter',
    sans-serif;
}

.button {
  background: var(--purple-700, #5925dc);
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 30px;
}

.button:disabled {
  background-color: gray;
  color: #ffffff;
  opacity: 0.5;
  cursor: not-allowed;
}

.button:hover {
  opacity: 0.7;
}
